<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.portableIdentity.sdk">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true" />
</manifest>
<!--<manifest package="com.microsoft.portableIdentity.sdk" />-->
