<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.did.sdk"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            tools:replace="android:exported"
            android:exported="false"/>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            tools:replace="android:exported"
            android:exported="false"/>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            tools:replace="android:exported"
            android:exported="false"/>
    </application>
</manifest>